.container {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.wrapper {
  cursor: grab;

  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.15s ease;
}

.wrapper[data-dragging="true"] {
  cursor: grabbing;
}

.low-frequency-visualizer {
  width: 300px;
  height: 300px;

  overflow: hidden;

  background-color: #000;
  border-radius: 50%;
  border: 6px solid #000;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mid-frequency-visualizer__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.mid-frequency-visualizer {
  width: 400px;
  height: 400px;

  border-radius: 50%;
  border: 1px solid #00000015;
}
