.container {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.wrapper {
  cursor: grab;

  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.05s linear;
}

.wrapper[data-dragging="true"] {
  cursor: grabbing;
}

.wrapper[data-dragging="false"] {
  transition: transform 0.3s cubic-bezier(0.4, 1.57, 0.41, 0.8);
}

.low-frequency-visualizer {
  width: 260px;
  height: 260px;

  overflow: hidden;

  background-color: var(--foreground-primary);
  border-radius: 50%;
  border: 3px solid var(--foreground-primary);
  box-shadow: var(--shadow-xxl);

  @media screen and (max-width: 1540px) {
    width: 220px;
    height: 220px;
  }

  @media screen and (max-width: 1080px) {
    width: 200px;
    height: 200px;
  }

  @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
    border-width: 2px;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mid-frequency-visualizer__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.mid-frequency-visualizer {
  position: relative;

  width: 300px;
  height: 300px;

  border-radius: 50%;
  border: 1px solid var(--line-alternative);

  @media screen and (max-width: 1540px) {
    width: 260px;
    height: 260px;
  }

  @media screen and (max-width: 1080px) {
    width: 230px;
    height: 230px;
  }

  @media screen and (max-width: 768px) {
    width: 170px;
    height: 170px;
  }
}

.mid-frequency-visualizer::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 50%;
  border: 1px solid var(--line-alternative);

  transform: scale(1.1);
}
