.container {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.wrapper {
  cursor: grab;

  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.05s linear;
}

.wrapper[data-dragging="true"] {
  cursor: grabbing;
}

.wrapper[data-dragging="false"] {
  transition: transform 0.15s ease;
}

.low-frequency-visualizer {
  width: 300px;
  height: 300px;

  overflow: hidden;

  background-color: #000;
  border-radius: 50%;
  border: 6px solid #000;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 1080px) {
    width: 220px;
    height: 220px;
    border-width: 4px;
  }

  @media screen and (max-width: 768px) {
    width: 160px;
    height: 160px;
    border-width: 3px;
  }
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mid-frequency-visualizer__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.mid-frequency-visualizer {
  width: 360px;
  height: 360px;

  border-radius: 50%;
  border: 1px solid #00000015;

  @media screen and (max-width: 1080px) {
    width: 260px;
    height: 260px;
  }

  @media screen and (max-width: 768px) {
    width: 200px;
    height: 200px;
  }
}
