.container {
  position: fixed;
  bottom: 5%;
  left: 50%;

  @media screen and (max-width: 1080px) {
    width: 100%;
    bottom: 0;
  }
}

.wrapper {
  position: relative;

  width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(-50%);
  padding: 10px 14px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);

  @media screen and (max-width: 1080px) {
    width: 100%;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 8px 12px;

    box-shadow: none;
    border-radius: 0;
  }
}

.summary {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  padding: 4px 0;

  @media screen and (max-width: 1080px) {
    width: auto;

    align-items: flex-start;
  }
}

.summary__title {
  font-size: 14px;
  font-weight: 600;
}

.summary__artist {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
