.container {
  position: fixed;
  bottom: 80px;
  left: 50%;

  width: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(-50%);
  padding: 10px 14px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.summary {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  padding: 4px 0;
}

.summary__title {
  font-size: 14px;
  font-weight: 600;
}

.summary__artist {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
