.slider__input[type="range"] {
  appearance: none;
  cursor: pointer;

  position: absolute;
  top: calc(50% - var(--ui-slider-thumb-size) / 2);

  width: 100%;
  height: var(--ui-slider-thumb-size);

  margin: 0;

  background: transparent;
}

.slider__input[type="range"]:hover::-webkit-slider-thumb,
.slider__input[type="range"]:focus::-webkit-slider-thumb {
  opacity: 1;
}

.slider__input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;

  width: var(--ui-slider-thumb-size);
  height: var(--ui-slider-thumb-size);

  background: #000;
  border-radius: 6px;
  opacity: 0;

  transition: opacity 0.15s ease;
}

.slider__container {
  position: relative;

  width: 100%;
  height: var(--ui-slider-container-height);
}

.slider__track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  height: var(--ui-slider-track-height);

  border-radius: var(--ui-slider-track-radius);
  background-color: rgba(210, 210, 210, 0.4);
}

.slider__progress {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  height: var(--ui-slider-track-height);

  border-radius: var(--ui-slider-track-radius);
  background-color: #000;
}
