.container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon-button {
  position: relative;

  cursor: pointer;

  padding: 8px;
  border: none;
  line-height: 0;

  border-radius: 50%;

  background-color: transparent;
  color: #000;
  font-size: 16px;

  transition: background-color 0.15s ease;
}

.toggle[data-active="true"] {
  color: #000;
}

.toggle[data-active="true"]::after {
  content: "";

  position: absolute;
  left: 50%;
  bottom: 3px;

  transform: translateX(-50%);

  width: 3px;
  height: 3px;

  background-color: #000;
  border-radius: 50%;
}

.toggle[data-active="false"] {
  color: rgba(0, 0, 0, 0.5);
}

.icon-button:hover {
  background-color: rgba(210, 210, 210, 0.4);
}
