.container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icon-button {
  cursor: pointer;

  padding: 8px;
  border: none;
  line-height: 0;

  border-radius: 50%;

  background-color: transparent;
  color: #000;
  font-size: 16px;

  transition: background-color 0.15s ease;
}

.icon-button:hover {
  background-color: rgba(210, 210, 210, 0.4);
}
