.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  padding-inline: 20px;
}

.collections {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;

  list-style: none;
}

.collection {
  position: relative;

  width: 100%;

  padding: 20px 24px;

  overflow: visible;
  transition: transform 0.15s ease;

  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.015);
}

.collection__inner {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.collection__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--foreground-primary);
}

.collection__artists {
  font-size: 16px;
  font-weight: 500;
  color: var(--foreground-secondary);
}

.collection__play-button {
  position: relative;

  width: 50px;
  height: 50px;

  cursor: pointer;

  border: none;
  border-radius: 50%;

  background-color: var(--foreground-primary);
  color: #fff;
  font-size: 18px;
  line-height: 0;

  transition: transform 0.15s ease, background-color 0.15s ease;
}

.collection__play-button::before {
  content: "";

  position: absolute;
  inset: -4px;

  display: none;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  pointer-events: none;
}

.collection__play-button::after {
  content: "";

  position: absolute;
  inset: -8px;

  display: none;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  pointer-events: none;
}

.collection__play-button:hover {
  transform: scale(1.05);
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(1.2);
  }
}

.collection__play-button:hover::before {
  display: block;

  animation: pulse 1.25s ease infinite;
  animation-delay: 0.25s;
}

.collection__play-button:hover::after {
  display: block;

  animation: pulse 1.25s ease infinite;
}
