.container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;

  @media screen and (max-width: 540px) {
    align-items: flex-start;
  }
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 100px;

  @media screen and (max-width: 1440px) {
    padding-inline: 60px;
    gap: 40px;
  }

  @media screen and (max-width: 1080px) {
    padding-inline: 40px;
    gap: 20px;
  }

  @media screen and (max-width: 900px) {
    padding-inline: 20px;
    flex-direction: column;
    gap: 80px;
  }

  @media screen and (max-width: 540px) {
    padding-block: 100px;
    padding-inline: 20px;
  }
}

.introduction {
  min-width: 560px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (max-width: 1440px) {
    min-width: 460px;
    gap: 30px;
  }

  @media screen and (max-width: 1080px) {
    min-width: 380px;
    gap: 20px;
  }

  @media screen and (max-width: 900px) {
    text-align: center;
    align-items: center;
  }
}

.introduction__title {
  font-size: 80px;
  font-weight: 600;
  color: #000;

  @media screen and (max-width: 1440px) {
    font-size: 64px;
  }

  @media screen and (max-width: 1080px) {
    font-size: 48px;
  }

  @media screen and (max-width: 540px) {
    font-size: 40px;
  }
}

.introduction__description {
  font-size: 22px;
  font-weight: 400;
  color: #000;

  @media screen and (max-width: 1440px) {
    font-size: 20px;
  }

  @media screen and (max-width: 1080px) {
    font-size: 18px;
  }

  @media screen and (max-width: 900px) {
    font-size: 16px;
  }
}

.collections {
  display: flex;
  align-items: center;
  gap: 60px;

  @media screen and (max-width: 1440px) {
    gap: 40px;
  }

  @media screen and (max-width: 1080px) {
    gap: 20px;
  }

  @media screen and (max-width: 540px) {
    flex-direction: column;
    align-items: center;
  }
}

.collection {
  position: relative;

  width: 300px;
  height: 300px;

  border-radius: 50%;
  overflow: visible;
  transition: transform 0.15s ease;

  @media screen and (max-width: 1440px) {
    width: 240px;
    height: 240px;
  }

  @media screen and (max-width: 1080px) {
    width: 200px;
    height: 200px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(1.2);
  }
}

.collection::before {
  content: "";

  position: absolute;
  inset: -10px;

  display: none;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  pointer-events: none;
}

.collection::after {
  content: "";

  position: absolute;
  inset: -20px;

  display: none;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.15);

  pointer-events: none;
}

.collection:has(.collection__play-button:hover) {
  transform: scale(1.05);
}

.collection:has(.collection__play-button:hover)::before {
  display: block;

  animation: pulse 1.25s ease infinite;
  animation-delay: 0.25s;
}

.collection:has(.collection__play-button:hover)::after {
  display: block;

  animation: pulse 1.25s ease infinite;
}

.collection__thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #000000;

  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.375);

  @media screen and (max-width: 1440px) {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.375);
  }

  @media screen and (max-width: 1080px) {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.375);
  }
}

.collection__play-button {
  position: absolute;
  inset: auto 7.5% 7.5% auto;

  width: 64px;
  height: 64px;

  cursor: pointer;

  border: none;
  border-radius: 50%;

  background-color: #000;
  color: #fff;
  font-size: 24px;
  line-height: 0;

  transition: transform 0.15s ease, background-color 0.15s ease;

  @media screen and (max-width: 1440px) {
    width: 56px;
    height: 56px;
    font-size: 20px;
  }

  @media screen and (max-width: 1080px) {
    width: 48px;
    height: 48px;
    font-size: 18px;
  }
}

.collection__play-button:hover {
  background-color: #131313;
  transform: scale(1.1);
}
