.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1080px) {
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;

    --ui-slider-track-radius: 0px;
    --ui-slider-track-height: 2px;
    --ui-slider-thumb-size: 8px;
  }
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.time span {
  font-size: 12px;
  font-weight: 400;
  color: var(--foreground-secondary);
}
