.container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time span {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
