@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -ms-overflow-style: none;
  scrollbar-width: none;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

[data-theme="light"] {
  --foreground-primary: rgb(0, 0, 0);
  --foreground-secondary: rgba(0, 0, 0, 0.5);
  --foreground-alternative: rgba(0, 0, 0, 0.08);

  --background-alternative: rgba(0, 0, 0, 0.05);

  --line-alternative: rgba(0, 0, 0, 0.08);

  --interaction-normal: rgba(0, 0, 0, 0.025);
  --interaction-hover: rgba(0, 0, 0, 0.05);
  --interaction-active: rgba(0, 0, 0, 0.075);

  --shadow-xxl: 0 0 100px 0 rgba(0, 0, 0, 0.3);
  --shadow-xs: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --foreground-primary: rgb(255, 255, 255);
  --foreground-secondary: rgba(255, 255, 255, 0.5);
  --foreground-alternative: rgba(255, 255, 255, 0.08);

  --background-alternative: rgba(255, 255, 255, 0.05);

  --line-alternative: rgba(255, 255, 255, 0.08);

  --interaction-normal: rgba(255, 255, 255, 0.025);
  --interaction-hover: rgba(255, 255, 255, 0.05);
  --interaction-active: rgba(255, 255, 255, 0.075);

  --shadow-xxl: 0 0 100px 0 rgba(255, 255, 255, 0.3);
  --shadow-xs: 0 0 4px 0 rgba(255, 255, 255, 0.2);
}

body {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* UI Slider */
  --ui-slider-track-radius: 2px;
  --ui-slider-track-height: 4px;
  --ui-slider-thumb-size: 12px;
  --ui-slider-container-height: 24px;
}
